<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>one</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Null</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>two</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Null</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>three</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>four</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>one</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Null</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>two</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>three</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Null</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beer-icon</string>
				<key>title</key>
				<string>four</string>
			</dict>
		</array>
	</array>
	<key>rowCount</key>
	<integer>3</integer>
	<key>columnCount</key>
	<integer>2</integer>
	<key>version</key>
	<string>1</string>
</dict>
</plist>
